# Pandas基础

https://betterprogramming.pub/pandas-illustrated-the-definitive-visual-guide-to-pandas-c31fa921a43

10 minutes to pandas
https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html

**安装** Jupyer Notebook里，在要执行的命令前加 **!**

In [ ]:
#!pip install pandas

或者，用conda安装
```shell
$ conda activate learn
$ conda install pandas
```

In [ ]:
import numpy as np
import pandas as pd

# Object creation <<

Creating a `Series` by passing a list of values, letting pandas create a default integer index:

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

Creating a `DataFrame` by passing a NumPy array, with a datetime index using `date_range()` and labeled columns:

In [ ]:
dates = pd.date_range("20130101", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
display(dates)
display(df)

Creating a `DataFrame` by passing a dictionary of objects that can be converted into a series-like structure:

In [ ]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
display(df2)

The columns of the resulting `DataFrame` have different dtypes:

In [ ]:
df2.dtypes

If you’re using IPython, tab completion for column names (as well as public attributes) is automatically enabled. Here’s a subset of the attributes that will be completed:

df2.\<TAB\>

In [ ]:
# df2.

# Viewing data <<

Use `DataFrame.head()` and `DataFrame.tail()` to view the top and bottom rows of the frame respectively:

In [ ]:
display(df.head())
display(df.tail(3))

Display the `DataFrame.index` or `DataFrame.columns`:

In [ ]:
display(df.index)
display(df.columns)

`DataFrame.to_numpy()` gives a NumPy representation of the underlying data. Note that this can be an expensive operation when your `DataFrame` has columns with different data types, which comes down to a fundamental difference between pandas and NumPy: **NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column.** When you call `DataFrame.to_numpy()`, pandas will find the NumPy dtype that can hold all of the dtypes in the DataFrame. This may end up being object, which requires casting every value to a Python object.

For `df`, our `DataFrame` of all floating-point values, and `DataFrame.to_numpy()` is fast and doesn’t require copying data:

In [ ]:
df.to_numpy()

For `df2`, the DataFrame with multiple dtypes, `DataFrame.to_numpy()` is relatively expensive:

In [ ]:
df2.to_numpy()

> `DataFrame.to_numpy()` does not include the index or column labels in the output.

`describe()` shows a quick statistic summary of your data:

In [ ]:
df.describe()

Transposing your data:

In [ ]:
df.T

`DataFrame.sort_index()` sorts by an axis:

In [ ]:
df.sort_index(axis=1, ascending=False)

`DataFrame.sort_values()` sorts by values:

In [ ]:
df.sort_values(by="B")

# Selection <<

> While standard Python / NumPy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, `DataFrame.at()`, `DataFrame.iat()`, `DataFrame.loc()` and `DataFrame.iloc()`.

## Getting

Selecting a single column, which yields a `Series`, equivalent to `df.A`:

In [ ]:
df["A"]

Selecting via [] (__getitem__), which slices the rows:

In [ ]:
display(df[0:3])
display(df["20130102":"20130104"])

## Selection by label

For getting a cross section using a label:

In [ ]:
df.loc[dates[0]]

Selecting on a multi-axis by label:

In [ ]:
df.loc[:, ["A", "B"]]

Showing label slicing, both endpoints are included:

In [ ]:
df.loc["20130102":"20130104", ["A", "B"]]

Reduction in the dimensions of the returned object:

In [ ]:
df.loc["20130102", ["A", "B"]]

For getting a scalar value:

In [ ]:
df.loc[dates[0], "A"]

For getting fast access to a scalar (equivalent to the prior method):

In [ ]:
df.at[dates[0], "A"]

## Selection by position

Select via the position of the passed integers:

In [ ]:
df.iloc[3]

By integer slices, acting similar to NumPy/Python:

In [ ]:
df.iloc[3:5, 0:2]

By lists of integer position locations, similar to the NumPy/Python style:

In [ ]:
df.iloc[[1, 2, 4], [0, 2]]

For slicing rows explicitly:

In [ ]:
df.iloc[1:3, :]

For slicing columns explicitly:

In [ ]:
df.iloc[:, 1:3]

For getting a value explicitly:

In [ ]:
df.iloc[1, 1]

For getting fast access to a scalar (equivalent to the prior method):

In [ ]:
df.iat[1, 1]

## Boolean indexing

Using a single column’s values to select data:

In [ ]:
df[df["A"] > 0]

Selecting values from a DataFrame where a boolean condition is met:

In [ ]:
df[df > 0]

Using the `isin()` method for filtering:

In [ ]:
df2 = df.copy()
df2["E"] = ["one", "one", "two", "three", "four", "three"]
display(df2)
display(df2[df2["E"].isin(["two", "four"])])

## Setting

Setting a new column automatically aligns the data by the indexes:

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))
display(s1)

In [ ]:
df["F"] = s1
display(df)

Setting values by label:

In [ ]:
df.at[dates[0], "A"] = 0
display(df)

Setting values by position:

In [ ]:
df.iat[0, 1] = 0
display(df)

Setting by assigning with a NumPy array:

In [ ]:
df.loc[:, "D"] = np.array([5] * len(df))
display(df)

A `where` operation with setting:

In [ ]:
df2 = df.copy()
df2[df2 > 0] = -df2
display(df2)

# Missing data <<

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations. 

Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data:

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
df1.loc[dates[0] : dates[1], "E"] = 1
display(df1)

`DataFrame.dropna()` drops any rows that have missing data:

In [ ]:
df1.dropna(how="any")

`DataFrame.fillna()` fills missing data:

In [ ]:
df1.fillna(value=5)

`isna()` gets the boolean mask where values are `nan`:

In [ ]:
pd.isna(df1)

# Operations <<

## Stats

Operations in general exclude missing data.
Performing a descriptive statistic:

In [ ]:
df.mean()

In [ ]:
df.mean(1)

Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension:

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

In [ ]:
df.sub(s, axis="index")

## Apply

`DataFrame.apply()` applies a user defined function to the data:

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

## Histogramming >>

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

In [ ]:
s.value_counts()

## String Methods

Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in str generally uses regular expressions by default (and in some cases always uses them). See more at Vectorized String Methods.

In [ ]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])
s.str.lower()

# Merge

## Concat <<

pandas provides various facilities for easily combining together Series and DataFrame objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

Concatenating pandas objects together along an axis with `concat()`:

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df

In [ ]:
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

> Adding a column to a `DataFrame` is relatively fast. However, adding a row requires a copy, and may be expensive. We recommend passing a pre-built list of records to the `DataFrame` constructor instead of building a `DataFrame` by iteratively appending records to it.

## Join

`merge()` enables SQL style join types along specific columns.

In [ ]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})
left

In [ ]:
right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})
right

Another example that can be given is:

In [ ]:
pd.merge(left, right, on="key")

In [ ]:
left = pd.DataFrame({"key": ["foo", "bar"], "lval": [1, 2]})
left

In [ ]:
right = pd.DataFrame({"key": ["foo", "bar"], "rval": [4, 5]})
right

In [ ]:
pd.merge(left, right, on="key")

# Grouping <<

By “group by” we are referring to a process involving one or more of the following steps:

- **Splitting** the data into groups based on some criteria
- **Applying** a function to each group independently
- **Combining** the results into a data structure

In [ ]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)
df

Grouping and then applying the `sum()` function to the resulting groups:

In [ ]:
df.groupby("A")[["C", "D"]].sum()

In [ ]:
df.groupby(["A", "B"]).sum()

# Reshaping

## Stack

In [ ]:
tuples = list(
    zip(
        ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
        ["one", "two", "one", "two", "one", "two", "one", "two"],
    )
)
tuples

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
index

In [ ]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=["A", "B"])
display(df)
df2 = df[:4]
display(df2)

The `stack()` method “compresses” a level in the DataFrame’s columns:

In [ ]:
stacked = df2.stack()
stacked

With a “stacked” DataFrame or Series (having a `MultiIndex` as the `index`), the inverse operation of `stack()` is `unstack()`, which by default unstacks the **last level**:

In [ ]:
display(stacked.unstack())
display(stacked.unstack(2))

In [ ]:
display(stacked.unstack(1))
display(stacked.unstack(0))

## Pivot tables <<

In [ ]:
df = pd.DataFrame(
    {
        "A": ["one", "one", "two", "three"] * 3,
        "B": ["A", "B", "C"] * 4,
        "C": ["foo", "foo", "foo", "bar", "bar", "bar"] * 2,
        "D": np.random.randn(12),
        "E": np.random.randn(12),
    }
)
df

In [ ]:
pd.pivot_table(df, values="D", index=["A", "B"], columns=["C"])

# Time series

pandas has simple, powerful, and efficient functionality for performing resampling operations during frequency conversion (e.g., converting secondly data into 5-minutely data). This is extremely common in, but not limited to, financial applications.

In [ ]:
rng = pd.date_range("1/1/2012", periods=100, freq="S")
rng

In [ ]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

In [ ]:
ts.resample("5S").mean()

`Series.tz_localize()` localizes a time series to a time zone:

In [ ]:
ts_utc = ts.tz_localize("UTC")
ts_utc

`Series.tz_convert()` converts a timezones aware time series to another time zone:

In [ ]:
ts_utc.tz_convert("Asia/Shanghai")

Converting between time span representations:

In [ ]:
ps = ts.to_period()
ps

In [ ]:
ps.to_timestamp()

Converting between period and timestamp enables some convenient arithmetic functions to be used. In the following example, we convert a quarterly frequency with year ending in November to 9am of the end of the month following the quarter end:

In [ ]:
prng = pd.period_range("1995Q1", "2000Q4", freq="Q-NOV")
prng

In [ ]:
ts = pd.Series(np.random.randn(len(prng)), prng)
ts

In [ ]:
ts.index = (prng.asfreq("M", "e") + 1).asfreq("H", "s") + 9
ts

# Categoricals

pandas can include categorical data in a `DataFrame`.

In [ ]:
df = pd.DataFrame(
    {"id": [1, 2, 3, 4, 5, 6], "raw_grade": ["a", "b", "b", "a", "a", "e"]}
)
df

Converting the raw grades to a categorical data type:

In [ ]:
df["grade"] = df["raw_grade"].astype("category")

Rename the categories to more meaningful names:

In [ ]:
new_categories = ["very good", "good", "very bad"]
df["grade"] = df["grade"].cat.rename_categories(new_categories)
df

Reorder the categories and simultaneously add the missing categories (methods under `Series.cat()` return a new `Series` by default):

In [ ]:
df["grade"] = df["grade"].cat.set_categories(
    ["very bad", "bad", "medium", "good", "very good"]
)
df

Sorting is per order in the categories, not lexical order:

In [ ]:
df.sort_values(by="grade")

In [ ]:
df.groupby("grade").size()

# Plotting <<

We use the standard convention for referencing the matplotlib API:

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range("1/1/2000", periods=1000))
ts = ts.cumsum()
ts.plot()

On a DataFrame, the `plot()` method is a convenience to plot all of the columns with labels:

In [ ]:
df = pd.DataFrame(
    np.random.randn(1000, 4), index=ts.index, columns=["A", "B", "C", "D"]
)
df = df.cumsum()
plt.figure();
df.plot();
plt.legend(loc='best');

# CSV <<
Writing to a csv file: using DataFrame.to_csv()

In [ ]:
df = pd.DataFrame(
    np.random.randn(1000, 4), index=ts.index, columns=["A", "B", "C", "D"]
)
df = df.cumsum()
df.to_csv("foo.csv")

Reading from a csv file: using `read_csv()`

In [ ]:
pd.read_csv("foo.csv")

# HDF5
Reading and writing to HDFStores.

Writing to a HDF5 Store using `DataFrame.to_hdf()`:

In [ ]:
df.to_hdf("foo.h5", "df")
pd.read_hdf("foo.h5", "df")

# Excel <<

Reading and writing to Excel.

Writing to an excel file using `DataFrame.to_excel()`:

In [ ]:
df.to_excel("foo.xlsx", sheet_name="Sheet1")

In [ ]:
pd.read_excel("foo.xlsx", "Sheet1", index_col=None, na_values=["NA"])